@import url(utility-class.css);
@import url(responsivity.css);

#about-me {
  padding: 0px;
  margin: 0px;
}

#about-me > .content {
  margin: 0px;
  padding: 2px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #dadada;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #111;
  border: solid #42cf26;
  border-width: 0 0 3px 0;
  border-radius: 0 0 15px 15px;
  padding: 12px;
}

.round-picture {
  flex: 1 1 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  width: 75%;
  max-width: 150px;
}

.info, .contact, .languages {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
}

.bold-green-p {
  font-weight: bold;
  color: #42cf26;
}

.inline-p {
  display: inline-block;
  margin: 0 5px;
}

.individual-languages {
  display: flex;
  align-items: center;
}

.slider-line {
  position: relative;
  height: 4px;
  width: 150px;
  background: #42cf26;
  border: 1px solid #000;
  border-radius: 2px;
  margin-left: 10px;
}

.slider-button {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #4e4e4e;
  border: 1px solid #42cf26;
  border-radius: 50%;
  top: -3px;
}

.cro { transform: translateX(50px); }
.eng { transform: translateX(80px); }
.rus { transform: translateX(99px); }
.ger { transform: translateX(50px); }

.exp-and-skills {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.experience {
  flex: 2.5;
  column-count: 2;
  column-gap: 12px;
}

.experience-style {
  break-inside: avoid;
  background: #3b3b3b;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.skills {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex: 1;
}

.skills .bold-h {
  margin-bottom: 10px;
  color: #42cf26;
}

.skill-list {
  list-style: none;
  padding: 0;
}

.skill-list li {
  margin-bottom: 10px;
}

.skill-category {
  font-weight: bold;
  color: #4e4e4e;
}

.general-skills {
  margin-top: 40px;
  text-align: center;
}

.general-skills .bold-h {
  margin-bottom: 10px;
  color: #42cf26;
}

.driving-categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category img {
  width: 50px; 
  height: 50px; 
  margin-bottom: 5px;
}

.category p {
  margin: 0;
  font-size: 1rem;
  color: #dadada;
}
