/* Portfolio items and modal */
#portfolio {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.portfolio-items {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.portfolio-wrapper {
    flex: 1 1 calc(25% - 40px);
    background: #141414;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s ease;
    height: 150px;
    width: 200px; 
    position: relative; 
    overflow: hidden;
    box-sizing: border-box;
}

.project-icon {
    opacity: 0.6;
    height: 65%;
    width: 65%;
    transition: all 1.5s ease;
}

.portfolio-wrapper:hover {
    height: 200px;
    width: 240px;
    padding: 20px;
}

.portfolio-wrapper:hover .project-icon {
    height: 150px;
    width: 150px;
    opacity: 1;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content1,
.modal-content2,
.modal-content3,
.modal-content4,
.modal-content5 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #42cf26;
    border-radius: 5px;
    width: 80%;
    max-width: 80%;
    height: 80%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

body.modal-open {
    overflow: hidden;
}

/*Close button*/
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}