@import url("https://fonts.googleapis.com/css?family=Poppins");

.inline-p {
  display: inline-block;
}

.bold-p {
  font-weight: bolder;
}

.bold-green-p {
  font-weight: bolder;
  color: #2a8b16;
  margin-right: 10px;
  margin-left: 20px;
}

.font-poppins {
  font-family: "Poppins";
}
